Flask==2.2.2
flask_accepts==0.18.4
flask_cors==3.0.10
flask_restx==0.5.1
flask_sqlalchemy==3.0.2
geoalchemy2==0.12.5
marshmallow==3.18.0
marshmallow_sqlalchemy==0.28.1
requests==2.25.1
Shapely==1.8.5.post1
SQLAlchemy==1.4.42
